:root {
	--background-color: white;
	--text-color: black; 
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: black;
		--text-color: white; 
	}
}

html {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: Hevlvetica Neue, Arial, sans-serif;
	margin: 0 1em;
}

main {
	margin: 1em auto;
	width: 1400px;
	max-width: 100%;
}

h1 {
	font-size: 1.875rem;
}

p {
	font-size: 1.375rem;
}

.content {
	width: 100%;
	margin: 0 auto;
	max-width: 600px;;
}

.ta-pictures {
	display: flex;
	flex-wrap:  wrap;
	justify-content: center;
	gap: 10px 10px;
}

.ta-pictures img {
	width: 300px;
	max-width: 100%;
}
