<div class="gallery">
<a href="/balls-of-steel"><img src="static/gallery/balls-of-steel-thumb.jpeg"></a>

<a href="/f-putin"><img src="static/gallery/f-putin.jpeg"></a>

<a href="/balls-of-steel"><img src="static/gallery/balls-of-steel-thumb.jpeg"></a>

<a href="/balls-of-steel"><img src="static/gallery/balls-of-steel-thumb.jpeg"></a>

<a href="/balls-of-steel"><img src="static/gallery/balls-of-steel-thumb.jpeg"></a>

<a href="/balls-of-steel"><img src="static/gallery/balls-of-steel-thumb.jpeg"></a>
</div>