<div class="gallery">

<a href="/balls-of-steel"><img src="static/gallery/balls-of-steel-thumb.PNG"></a>

<a href="/f-putin"><img src="static/gallery/f-putin-thumb.PNG"></a>

<a href="/ghost-of-kyiv"><img src="static/gallery/ghost-of-kyiv-thumb.PNG"></a>

<a href="/need-ammunition"><img src="static/gallery/need-ammunitiion-thumb.PNG"></a>

<a href="/russian-warship"><img src="static/gallery/russian-warship-thumb.PNG"></a>

<a href="/stand-with-ukraine"><img src="static/gallery/stand-with-ukraine-thumb.PNG"></a>
</div>