<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Tetiana Shevchenko</title>
    <meta name="description" content="A site about Tetiana Shevchenko"/>
    <link rel="canonical" href="https://tatianashevchenko.com/">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <meta property="og:image" content="static/tania.jpeg"/>
    <meta name="twitter:image" content="static/tania.jpeg"/>

  </head>

<body>
    <main>
<section class="content">